*{
    margin:0;
    box-sizing: border-box;
}

header{
    background-color: #2F3E46;
    color: white;
    padding: 10px 20px;
    font-size: calc(10px + 2vw);
}

#pagewrap{
    background-color: #cad2c5;
    width:80vw;
    margin: 0 auto;

}

#navmain{
    width: 100%;
    display: flex;
    flex-direction: row;
}

main{
    width: 70%;
    text-align: center;
    font-size: calc(4px + 1.7vw);
}

#name{
    font-size: calc(5px + 2vw);
}

main *{
    margin: 2%;
}

nav{
    width: 30%;
    background-color: #354f52;
}

nav ul{
    padding-left:0;
    list-style:none;

}

nav li {
    border: whitesmoke solid 4px;
    width: 80%;
    margin: 5% auto;
    text-align: center;
}

nav a{
    color: whitesmoke;
    padding: 2px;
    font-size: calc(8px + 1.7vw);

}

img {
    max-width: 250px;
    height: auto;
}

footer{
        background-color: #2F3E46;
        color: white;
        padding: 2px 1px;
        font-size: calc(1px + 1vw);

}

body {
    font-family: "Trirong", serif;
}


@media screen and (max-width: 750px){
    #navmain{
        display: flex;
        flex-direction: column;
        width:100%;
    }
    nav{
        width:100%;
        padding: 3%;
    }

    main{
        width: 100%;
    }

    ul {
        text-align: center;
    }

    ul a {
        /*display: inline;*/
        font-size: calc(7px + 0.7vw);
    }

    ul li{
        display:inline;
    }

    nav ul{
        padding-left: 0;
    }

    header {
        text-align: center;
    }


}


