*{
    margin:0;
    box-sizing: border-box;
}

header{
    background-color: #2F3E46;
    color: white;
    padding: 10px 20px;
    font-size: calc(10px + 2vw);
}

body {
    font-family: "Trirong", serif;
}

#pagewrap{
    background-color: #cad2c5;
    width:80vw;
    margin: 0 auto;

}

#name{
    font-size: calc(5px + 2vw);
}

#navmain{
    width: 100%;
    display: flex;
    flex-direction: row;
}

main{
    width: 70%;
    text-align: center;
    /*font-size: calc(4px + 1.7vw);*/
}

main *{
    margin: 2%;
}

nav{
    width: 30%;
    background-color: #354f52;
}

nav ul{
    padding-left:0;
    list-style:none;

}

nav li {
    border: whitesmoke solid 4px;
    width: 80%;
    margin: 5% auto;
    text-align: center;
}

nav a{
    color: whitesmoke;
    padding: 2px;
    font-size: calc(8px + 1.7vw);

}



footer{
    background-color: #2F3E46;
    color: white;
    padding: 2px 1px;
    font-size: calc(1px + 1vw);

}

#calc {
    color: black;
    margin: 2%;
    text-align: center;
    padding: 5%;
    border: 4px solid black;
    background-color: white;
    width: 50%;
    outline-offset: 5px;
    align-items: center;
    justify-content: center;
    font-size: calc(4px + 2.5vw);

}

.label{
    color: black;
    font-size: calc(4px + 2.5vw);
}

input{
    margin: 0 7% 7% 7%;
    width: 50%;
    text-align: center;
    font-size: calc(3px + 2vw);
    font-family: 'Times New Roman', serif;
}


.round-button{
    width: calc(50px + 1vw);
    height: calc(50px + 1vw);
    border-radius: 50%;
    text-align: center;
    font-size: calc(16px + .4vw);
    cursor: pointer;
    font-family: 'Times New Roman', serif;
}


#buttons {
    flex-direction: row;
    justify-content: center;
    cursor:pointer;
}

#output-box {
    width: 80%;
    margin-top: 2%;
    border: 1px solid #000000;
    padding: 10%;
    background-color: white;
    overflow: hidden;
    text-align: center;
    background-image: url('birdie.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    font-size: calc(3px + 2vw);
}

#output {
    margin: 0;
    padding: 0;
    font-size: calc(3px + 2vw);
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.6);
    background-image: url('baddycourt.jpg');
    background-size: cover;
    background-blend-mode: lighten;
}


@media screen and (max-width: 750px){
    #navmain{
        display: flex;
        flex-direction: column;
        width:100%;
    }
    nav{
        width:100%;
        padding: 3%;
    }

    main{
        width: 100%;
    }

    ul {
        text-align: center;
    }

    ul a {
        /*display: inline;*/
        font-size: calc(7px + 0.7vw);
    }

    ul li{
        display:inline;
    }

    nav ul{
        padding-left: 0;
    }

    header {
        text-align: center;
    }

    #calc{
        font-size: calc(17px + 0.7vw);
    }

}
